.form {
  @apply rounded-md p-8;
  overflow: hidden;
  background: var(--color-foreground);
}

.title {
  margin-bottom: 1rem;
  position: relative;
}

.register {
  position: absolute;
  right: -3.8rem;
  top: 0;

  transition: right 0.3s ease;
  cursor: pointer;

  width: 5rem;
  height: 2.25rem;

  &:hover {
    right: -2.7rem;

    &:after {
      opacity: 1;
      width: 9rem;

      content: "Псс, рега нужна? ...";
    }
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    background: url("/images/logo.png") no-repeat;
    background-size: contain;
    width: 3rem;
    height: 2.25rem;
    right: 0;
  }

  &:after {
    position: absolute;
    display: block;
    content: "...";
    right: 3.8rem;
    border-radius: var(--b-r);
    top: 0;
    width: auto;
    background: var(--color-gray-light);
    background: var(--color-primary);
    color: #fff;
    font-size: 0.8rem;
    padding: 0.1rem 0.5rem;
    transition: opacity 0.3s ease;
  }
}
