.userDetails {
  margin-bottom: var(--space);
  background: var(--color-foreground);
  border-radius: var(--b-r);
  position: relative;
}

.userDetailsAva {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: var(--b-r);
  margin-right: 1rem;
  flex-shrink: 0;
}

.userDetailsData {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 4.5rem);
}
