
.avatar {
  margin: 0 auto 1rem;
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;

  img {
    border-radius: var(--br);
    height: inherit;
    width: inherit;
    object-fit: cover;
  }
}


// .userTop {
//   display: flex;
//   align-items: center;
//   justify-content: start;
// }