.mainContainer {
  padding: var(--space);
  background: var(--color-foreground);
  border-radius: var(--b-r);
}

.comment {
  position: relative;
  display: flex;
  flex-direction: column;
  // padding-left: 1rem;
  // box-shadow: inset 0.2rem 0 0 0 var(--color-gray-light);

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.commentsList {
  margin-top: var(--space);
}

.addComment {
  display: flex;
  // margin-bottom: var(--space);

  input {
    margin-right: 1rem;
  }
}
