// PREVIEW

.preview {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;

  &Toggle {
    // display: flex;
    // flex-direction: row-reverse;

    // .previewImage {
    //   width: 10rem;
    //   height: 4.5rem;
    //   overflow: hidden;
    //   max-width: 10rem;
    //   margin-right: var(--space);

    //   img {
    //     width: inherit;
    //     height: inherit;
    //     object-fit: cover;
    //   }
    // }

    // .previewTitle {
    //   width: 100%;
    //   flex-grow: 2;
    //   margin-bottom: 0;
    //   // max-width: calc(100% - 12rem);
    // }
  }

  &:not(:last-of-type) {
    margin-bottom: var(--space);
  }

  &Content {
    background: var(--color-foreground);
    position: relative;
    padding: var(--space) var(--space) 1rem;
    border-radius: var(--b-r);
    width: 100%;
    max-width: 100%;
  }

  &Image {
    display: block;
    border-radius: var(--b-r);
    background: var(--color-gray-light);

    img {
      border-radius: var(--b-r);
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

// PREVIEW FOOTER

.footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;

  &Stats {
    display: flex;
    align-items: center;
    border-radius: 5rem;
    height: 1.5rem;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }

  &StatsIcon {
    color: var(--color-gray);
    width: 1rem;
    margin-right: 0.5rem;
  }

  &StatsNum {
    font-size: small;
    font-weight: 600;
    color: var(--color-gray);
  }
}

// FULL

.full {
  width: 100%;
  background: var(--color-foreground);
  border-radius: var(--b-r);
  padding: var(--space);
  margin-bottom: var(--space);
}
