// PREVIEW

.preview {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;

  // &Toggle {
  //   display: flex;
  //   flex-direction: row-reverse;

  //   .previewImage {
  //     flex: 0 0 16rem;
  //     width: 16rem;
  //     height: 9rem;
  //     overflow: hidden;
  //     margin-right: var(--space);
  

  //     img {
  //       width: inherit;
  //       height: inherit;
  //       object-fit: cover;
  //     }
  //   }

  //   .previewTitle {
  //     width: 100%;
  //     flex-grow: 2;
  //     margin-bottom: 0;
  //     // max-width: calc(100% - 12rem);
  //   }
  // }

  &:not(:last-of-type) {
    margin-bottom: var(--space);
  }

  &Content {
    background: var(--color-foreground);
    position: relative;
    padding: var(--space) var(--space) 1rem;
    border-radius: var(--br);
    width: 100%;
    max-width: 100%;
  }

  &Image {
    display: block;
    border-radius: var(--br);
    background: var(--color-gray-light);
    height: 15rem;

    @media (min-width: 640px) {
      height: 25rem;
    }

    img {
      border-radius: var(--br);
      height: inherit;
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      object-fit: cover;
    }
  }
}

// PREVIEW FOOTER

.footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;

  &Full {
    display: flex;
    align-items: center;

    background: var(--color-foreground);
    padding: 1rem var(--space);
    margin-bottom: var(--space);
    border-radius: var(--br);
  }

  &Stats {
    display: flex;
    align-items: center;
    border-radius: 5rem;
    height: 1.5rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &StatsIcon {
    color: var(--color-gray);
    width: 1rem;
    margin-right: 0.5rem;
  }

  &StatsNum {
    font-size: small;
    font-weight: 600;
    color: var(--color-gray);
  }
}

// FULL

.full {
  position: relative;
  width: 100%;
  background: var(--color-foreground);
  border-radius: var(--br);
  padding: var(--space);
  margin-bottom: .2rem; //var(--space);

  .previewImage {
    height: auto !important;
  }
}
