.post {
  @apply rounded-md bg-white mb-6;
}

.image {
  @apply bg-neutral-200 h-12 rounded-md;
  background: url("https://www.toptal.com/designers/subtlepatterns/uploads/y-so-serious-white.png")
    repeat;
}

.info {
  @apply p-6;
  position: relative;
}

.floating {
  @apply text-sm;
  border-radius: var(--b-r);
  // border-radius: 1.5rem;
  box-shadow: 0 0 0 0.25rem white;
  position: absolute;
  top: -0.75rem;
  padding: 0.15rem 0.75rem;
}

// .category {
//   @extend .floating;
//   background: var(--color-primary);
//   color: #fff;
//   left: 1.5rem;
// }

.date {
  @extend .floating;
  background: var(--color-gray-light);
  color: var(--color-text);
  right: 1.5rem;
}

.title {
  @apply text-2xl;
  font-weight: 700;
}

.summary {
  @apply text-gray-800;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.author {
  // @apply text-neutral-400 text-sm;
  color: var(--color-gray);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.stats {
  color: var(--color-gray);
  display: flex;
  align-items: center;
}

.icon {
  color: var(--color-gray);
  width: 1rem;
  margin-right: 0.25rem;
}
