hr {
  border-color: var(--color-gray-light);
}

// Page wrapper 

.wrapper {
  margin: 0 auto;
  max-width: var(--max-width);
 
  &-md {
    margin: 0 auto;
    max-width: var(--max-width-md);
  }

  &-sm {
    margin: 0 auto;
    max-width: var(--max-width-sm);
  }

}

// Title 

.main-title {
  font-size: x-large;
  font-weight: 700;
  text-align: center;
  line-height: 2rem;
}

// Image preview size

.post-image-preview {
  width: 100%;
  padding-bottom: 50%;
  position: relative;
  background: var(--color-foreground);
  border-radius: var(--br);
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: var(--br);
  }

  span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.postsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 100%;
  gap: 2rem ;

  // > div:first-of-type  {
  //   grid-column: span 3;
  //   padding: 0 16rem;
  // }

}

.page-bg {
  background: var(--color-foreground);
  border-radius: var(--br);
}


// Author

.author {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  &Name {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 0.8rem;
    white-space: nowrap;
    color: var(--color-primary);

    img {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: var(--br);
      margin-right: .5rem;
    }
  }

  &Date {
    font-size: 0.8rem;
    color: var(--color-gray);
    position: relative;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:after {
      position: absolute;
      content: "";
      left: -1rem;
      top: 50%;
      margin-top: -1px;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background: var(--color-gray);
    }
  }
}


.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .tag {
    font-size: small;
    color: var(--color-primary);
    background: var(--color-secondary-light);
    box-shadow: inset 0 0 0 1px var(--color-primary);
    padding: .1rem .8rem;
    border-radius: 1rem;
  }
}