.dialog {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10000;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 8rem;

  &-panel {
    width: 500px;
    height: auto;
    background: var(--color-foreground);
    padding: var(--space);
    border-radius: var(--br);
  }

  &-title {
    @apply text-2xl font-bold;
    margin-bottom: 1rem;
  }
}
