@reference "tailwindcss";

.EmojiPickerReact {
  background: hsl(var(--heroui-background) / 0.7) !important;
  @apply border-zinc-200 dark:border-zinc-700 rounded-sm;

  .epr-emoji-category-label {
    background: hsl(var(--heroui-background) / 0.7) !important;
  }

  .epr-category-nav {
    backdrop-filter: blur(3px);
    background: hsl(var(--heroui-background) / 0.7) !important;
  }
}
