@use './mark.scss';
@use './emoji.scss';

/* Layout */

body {
  font-size: 16px;
  font-family: var(--font-sans) !important;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 800 !important;
  }
}


.layout-page {
  @apply flex flex-col-reverse md:flex-row relative;

  &-view-toggle {
    @apply hidden md:flex absolute;
    margin-left: -2.7rem;
    margin-top: 0.3rem;
  }

  &-divider {
    // @apply bg-zinc-200 dark:bg-zinc-700;

    &-mobile {
      // @apply bg-zinc-200 dark:bg-zinc-700;
      @apply md:hidden mt-6;
    }
  }

  &-content {
    @apply w-full min-h-96 md:w-3/5 p-6 md:pe-8;

    transition: width .3s ease;
  }

  &-aside {
    @apply md:flex md:w-2/5 pt-6 md:pt-0;

    transition: width .3s ease;
   
    &-wrapper {
      @apply w-full px-6 md:p-6 md:ps-8;
    }
    
    &-sticky {
      @apply sticky flex flex-col items-start gap-4;
      top: 5.5rem;

      > * {
        animation: fadeIn 1s ease forwards;
      }

    }

  } 

  // full size

  &.full {

    .layout-page-actions {
      flex-direction: column;
    }

    .layout-page-content {
      @media (min-width: 768px) {
        width: calc(100% - (1.5rem + 2.1rem));
      }
    }

    .layout-page-aside {
      @media (min-width: 768px) {
        width: calc(1.5rem + 2.1rem);
      }
    }

    .layout-page-aside-sticky > *:nth-child(n+2) {
      @apply md:hidden;
    }

  }
}

.text-gray { @apply text-zinc-500; }
.dark .text-gray { @apply text-zinc-400; }

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}