.mdxeditor {
  ol {
    list-style: decimal;
    padding-left: 1rem;
  }

  ul {
    list-style: circle;
    padding-left: 1rem;
  }
}

.mdxeditor-root-contenteditable {
  background: #fff;
  margin-top: 1rem;
}

.mdxeditor {
  line-height: inherit !important;
  font-family: inherit !important;
  background: transparent !important;
  font-size: 16px !important;
  color: var(--color-text) !important;

  blockquote {
    margin: 0;
    padding: 0 1em;
    color: #57606a;
    border-left: 0.25em solid #d0d7de;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  h1, h2, h3, h4, h5, p, ul, ol, table, quote {
    color: var(--color-text) !important;
  }

  a {
    color: var(--color-primary) !important;
  }

  h1, h2, h3, h4, h5 {
    margin: 0 0 1rem 
  }

  p, ul, ol {
    @apply text-base;
    margin: 0 0 1rem;
  }
}
