// @import "highlight.js/styles/github.css"; // стиль для подсветки

[class^="_codeMirrorToolbar_"],
[class^="_toolbarNodeKindSelectTrigger_"],
[class^="_toolbarButtonSelectTrigger_"],
[class^="_selectTrigger_"] {
  @apply bg-default-100 !important;
}

.mdxeditor {
  div[role="toolbar"] {
    top: 4rem;
  }

  .mdxeditor-toolbar button[role="combobox"] {
    width: auto!important;
  }
}

.mdxeditor-popup-container div[role="dialog"] > h2 {
  display: none;
}

// .mdxeditor-diff-source-wrapper {
//   margin-top: 1.5rem;
// }

.mdxeditor-rich-text-editor {

  div[data-lexical-decorator] {
    margin-bottom: 1rem !important;
  }

  > div > div *:last-child {
    margin-bottom: 0rem !important;
  }

  table tbody {
    th, td {
      &:not([data-tool-cell="true"]){
        border: 1px solid rgb(113 113 122 / var(--tw-text-opacity, 1)) !important;
      }
    }
  }

  img {
    padding: 5px;
  }
}

.wmde-markdown {
  a.anchor { display: none }

  table {
    display: table !important;
    width: 100% !important;
    min-width: 100% !important;

    th, td {
      text-align: left !important;
      padding: 0.25rem 0.5rem !important; 
      border: 1px solid rgb(113 113 122 / var(--tw-text-opacity, 1)) !important;
      white-space: normal !important;
      min-height: 1rem;
      height: 2rem;
    }

    tr {
      background: none !important
    }
  }


}

.mdxeditor-rich-text-editor,
.wmde-markdown  {
  background: transparent !important;
  color: inherit !important;
  font-size: inherit !important;
  font-family: var(--font-sans) !important;

  > * {
    max-width: 100%;
  }
  

  blockquote, details, pre, 
  table, dl, 
  ol, ul, 
  p, 
  h1, h2, h3, h4, h5, h6 {
    font-size: 1rem !important;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 1rem !important;
    font-family: inherit !important;
    border-bottom: none !important;
  }

  b, strong {
    font-weight: 700 !important;
  }
  
  h1 {
    @apply text-3xl !important;
  }

  h2 {
    @apply text-2xl !important
  }

  h3 {
    @apply text-xl !important
  }
 
  a {
    @apply text-primary !important;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul, ol {
    @apply ms-5 ps-0 !important;

    > li {
      margin: 0 0 .5rem !important;
    }
  }

  blockquote {
    margin: 0;
    padding: 0 1em;
    color: hsl(var(--heroui-deault)) !important;
    border-left: 0.25em solid hsl(var(--heroui-primary)) !important;
    font-style: italic;
  }

  pre {
    @apply bg-zinc-100 dark:bg-zinc-800 !important
  }
  
  iframe {
    display: block;
    margin-bottom: 1rem;
  }


  hr {
    @apply bg-zinc-200 dark:bg-zinc-700;
    margin: 2rem !important;
    height: 1px !important;
    border: none !important;
  }
  
}
