@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f7b641;
  --color-text: #404040;
  --color-gray: #8b8b8b;
  --color-gray-light: #f5f5f5;

  --b-r: 0.3rem;
}

@layer base {
  html {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
  }

  body {
    background: var(--color-gray-light);
    color: var(--color-text);
  }
}

@layer components {
  .input {
    @apply py-1 px-4;
    border-color: var(--color-gray-light);
    background: var(--color-gray-light);
    border-radius: var(--b-r);
    width: 100%;
  }

  .btn {
    @apply py-1 px-4;
    border-color: var(--color-gray-light);
    background: var(--color-gray-light);
    border-radius: var(--b-r);
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  .btn--primary {
    border-color: var(--color-primary);
    background: var(--color-primary);
    color: white;
  }
}
