@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./utilities.scss";
@import "./common.scss";
@import "./dialog.scss";
@import "./markdown.scss";

:root {
  --color-primary: #f7b641;
  --color-success: rgb(110, 179, 125);
  --color-danger: rgb(255, 83, 83);

  --color-background: #f7f8fa;
  --color-foreground: #fff;
  --color-text: #404040;

  --color-gray: #7a8086;
  --color-gray-light: #eff0f3;
  --color-opacity: rgba(0, 0, 0, 0.05);

  --max-width: 800px;
  --b-r: 0.3rem;

  --space: 1rem;
}

@media (min-width: 640px) {
  :root {
    --space: 2rem;
  }
}

body.dark {
  --color-primary: #49a175;

  --color-background: #202226;
  --color-foreground: #25272b;
  --color-text: #e1e2e6;

  --color-gray-light: #2e3035;
  --color-opacity: rgba(255, 255, 255, 0.05);
}

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }

  body {
    background: var(--color-background);
    color: var(--color-text);
  }
}

@layer components {
  .input {
    @apply py-1 px-4;
    border-color: var(--color-gray-light);
    background: var(--color-gray-light);
    border-radius: var(--b-r);
    width: 100%;

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &--error {
      border-radius: var(--b-r);
      box-shadow: 0 0 0 2px var(--color-danger), 0 0 0 1px var(--color-danger) !important;
    }
  }

  .btn {
    @apply py-1 px-4;
    border-color: var(--color-gray-light);
    background: var(--color-gray-light);
    border-radius: var(--b-r);
    transition: background 0.3s ease, opacity 0.3s ease;
    display: inline-block;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .btn--primary {
    border-color: var(--color-primary);
    background: var(--color-primary);
  }

  .btn--danger {
    border-color: var(--color-danger);
    background: var(--color-danger);
  }

  .btn--edit {
    @apply py-1 px-2;
    position: absolute;
    right: -0.5rem;
    top: var(--space);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border-color: var(--color-primary);
      background: var(--color-primary);
      opacity: 1;
    }
  }

  .btn--action {
    @apply py-1 px-2;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border-color: var(--color-primary);
      background: var(--color-primary);
      opacity: 1;
    }
  }
}

