// Utilities

.color-primary {
  color: var(--color-primary);
}

.color-gray {
  color: var(--color-gray);
}

.color-danger {
  color: var(--color-danger);
}

.background-white {
  background: var(--color-foreground);
}

.p-in {
  padding: var(--space);
}

.page-bg {
  background: var(--color-foreground);
  padding: var(--space);
  border-radius: var(--b-r);
}

.page-title {
  font-size: x-large;
  font-weight: 700;
  margin-bottom: 1rem;
}
