// Utilities

.color-primary {
  color: var(--color-primary);
}

.color-gray {
  color: var(--color-gray);
}

.color-danger {
  color: var(--color-danger);
}

.background-white {
  background: var(--color-background);
}

.p-in {
  padding: var(--space);
}
