.main {
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 4rem;
  padding: 2rem;
}

// header

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #fff;
  height: 4rem;
}

.headerContainer {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  max-width: var(--max-width);
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  object-fit: contain;
}

.navLinks {
  @apply flex;
}

.link {
  display: block;
  color: var(--color-text);
  background: var(--color-gray-light);
  padding: 0.25rem 1rem;
  border-radius: 0.3rem;
}

.linkActive {
  background: var(--color-primary);
  color: white;
}

.actions {
  display: flex;
  align-items: center;
}

.search {
  position: relative;
  margin-right: 1.5rem;
  max-width: 15rem;
  width: 100%;
}

.user {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--color-gray-light);
  padding: 0.35rem;
  transition: background 0.3s ease, color 0.3s ease;

  &Ava {
    background: #5a4a42;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    // margin-right: 0.75rem;
  }

  &Name {
    margin-right: 1rem;
  }

  &:hover {
    background: var(--color-primary);
    color: #fff;
  }
}
